@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar h1 {
  color: #f1356d;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
.aricle-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.article-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.article-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}
.article-preview a {
  text-decoration: none;
}

/* blog details page */
.article-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}
.article-details div {
  margin: 20px 0;
}
.article-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.login-page {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-page h2 {
  text-align: center;
}

.login-page form {
  display: flex;
  flex-direction: column;
}

.login-page label {
  margin-bottom: 5px;
}

.login-page input {
  padding: 8px;
  margin-bottom: 10px;
}

.login-page button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-page button:hover {
  background-color: #0056b3;
}
.registration-page {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.registration-page h2 {
  text-align: center;
  margin-bottom: 20px;
}

.registration-page form {
  display: flex;
  flex-direction: column;
}

.registration-page label {
  font-weight: bold;
  margin-bottom: 5px;
}

.registration-page input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.registration-page button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.registration-page button:hover {
  background-color: #0056b3;
}
.verify-code-page {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.verify-code-page h2 {
  margin-bottom: 20px;
  text-align: center;
}

.verify-code-page form {
  display: flex;
  flex-direction: column;
}

.verify-code-page input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.verify-code-page input:focus {
  outline: none;
  border-color: #007bff;
}

.verify-code-page button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.verify-code-page button:hover {
  background-color: #0056b3;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  padding: 10px 20px;
  margin: 0 5px;
  border: none;
  background-color: red;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: white;
}

.navbar h1 {
  color: #f1356d;
  margin: 0;
}

.links {
  display: flex;
  align-items: center;
}

.links a {
  margin-left: 16px;
  text-decoration: none;
  color: white;
}

.links a:hover {
  text-decoration: underline;
}

.search-bar-container {
  display: flex;
  align-items: center;
}

.search-bar-container input[type="text"] {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  background-color: white;
}

.search-bar-container button {
  padding: 8px 16px;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-bar-container button:hover {
  background-color: #cc0000;
}

/* Зміни для великого проміжку між кнопкою пошуку та іншими елементами */
.search-bar-container {
  margin-left: auto;
  margin-right: 20px; /* Регулюйте це значення, щоб отримати бажаний вигляд */
}

/* Доданий код для центрування елементів у контейнері */
.navbar .links,
.navbar .search-bar-container {
  flex: 1;
  display: flex;
  justify-content: center;
}
.logout {
  background-color: #f1356d;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}
.add-comment-container {
  margin-top: 20px;
}

.add-comment-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.add-comment-form label {
  font-weight: bold;
  margin-bottom: 5px;
}

.add-comment-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-comment-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-comment-form button:hover {
  background-color: #0056b3;
}
/* styles.css */

.edit-profile-button {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-profile-button:hover {
  background-color: darkred;
}
.edit-user {
  max-width: 400px;
  margin: 0 auto;
}

.edit-user h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.edit-user form {
  display: flex;
  flex-direction: column;
}

.edit-user label {
  margin-bottom: 10px;
  font-weight: bold;
}

.edit-user input,
.edit-user textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.edit-user button {
  padding: 10px 20px;
  background-color: #ff0000; /* Червоний колір */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-user button:hover {
  background-color: #cc0000; /* Темно-червоний при наведенні */
}
